<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <script type="text/javascript" src="static/js/main.js"></script>
    <title>My Flask App</title>
  </head>
  <body>
    <h1>Welcome to my Flask App!</h1>
    <p>Spotify account is connected!</p>
    <form action="/nextstep" method="post">
        <label for="yt_link">YouTube link:</label><br>
        <input type="text" id="yt_link" name="yt_link"><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>